doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class="navbar navbar-default navbar-fixed-top")
      div(class="nav-wrapper")
        ul(id="nav-mobile" class="left hide-on-med-and-down")
          li
            a(href='/') Home
          li
            a(href='/youtube') YouTube
          
    block content

    .fixed-action-btn
      a.btn-floating.btn-large.red
        i.large.material-icons mode_edit
      ul
        li
          a.btn-floating.red.modal-trigger(href="#modalAdd")
            i.material-icons add
        //- li
        //-   a.btn-floating.yellow.darken-1
        //-     i.material-icons format_quote
        //- li
        //-   a.btn-floating.green
        //-     i.material-icons publish
        //- li
        //-   a.btn-floating.blue
        //-     i.material-icons attach_file

    #modalAdd.modal
      .modal-content
          h4 Add a New Social Feed     
          .row
            .input-field.col.s12
              input#url(type="text")
              label(for="url") Youtube Channel URL
      .modal-footer
          a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Agree
      
    script(src="http://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script(src="/javascript/main.js")
