extends ../layout

block content
    each item in data
        .row
            .col.s3
                .card
                    .card-image
                        a(href="https://www.youtube.com/watch?v=" + item.id.videoId)
                            img.responsive-img(src=item.snippet.thumbnails.high.url)                       
                    .card-action
                        a(href="https://www.youtube.com/watch?v=" + item.id.videoId)=item.snippet.title