extends ../layout

block content
    each item in data
        .row
            .col.s3
                .card
                    .card-image
                        a(href=item.url)
                            img.responsive-img(src=item.thumbnail)                       
                    .card-action
                        a(href=item.url)=item.title